<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		
		<customErrors mode="Off"/>
		<!-- To view detailed error messages -->
	</system.web>
	<connectionStrings>
		<add name="PVFC" connectionString="workstation id=PVFC-DB.mssql.somee.com;packet size=4096;user id=Haider_SQLLogin_1;pwd=7qprguziu8;data source=PVFC-DB.mssql.somee.com;persist security info=False;initial catalog=PVFC-DB;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>
